* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //cursor: none;
}
body {
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    background-color: #000;
}

#loadingScreen {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 2;

    &.fade {
        transition: opacity 1000ms ease;
        opacity: 0;
    }

    &.hide {
        display: none;
    }

    &::after {
        content: "";
        display: block;
        width: 36px;
        height: 36px;
        border: 4px solid red;
        border-radius: 50%;
        border-top-color: transparent;
        animation: loader 600ms ease-out infinite;        
    }
}

#pausedScreen {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    z-index: 1;
    color: #fff;

    &.hide {
        display: none;
    }

    p {
        font-size: 24px;
        pointer-events: none;
        margin-bottom: 10%;
    }
}

@keyframes loader {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}