@import "fonts.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary: #70A480;
    --dark: #0A0A0A;
    --slash: #45CBDE;
}

html {
    overflow-y: auto;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--dark);
    color: #fff;
    font-family: "Kanit";
    font-weight: 500;
}

.background-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    z-index: -1;
    object-fit: cover;
    opacity: 0.65;
    -webkit-user-drag: none;
    -webkit-user-select: none;    
    -moz-user-select: none;
    user-select: none;
}

.v-toolbar__content {
    justify-content: space-between;
}

.v-card, .v-tab {
    border-radius: 0;
}

.v-input__details {
    display: none;
}

.v-selection-control__input {
    font-size: 1.25em;
}